<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter Trend</title>

        <link type="text/css" rel="stylesheet" href="./webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Twitter Client</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Search</a></li>
                    <li togglz:active="TWITTER_TRENDS"><a th:href="@{/trend}">Trend</a></li>
                    <li togglz:active="TWITTER_PROFILE" class="active"><a th:href="@{/profile}">Profile</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <form th:action="@{/logout}" method="post">
                        <button class="navbar-brand btn-link" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Twitter Profile</h1>

                <form class="form-inline" method="GET" action="/profile">
                    <div class="form-group">
                        <label class="">Please enter user name:</label>
                        <input id="query" class="form-control" name="userScreenName" type='text' placeholder=""/>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <ul th:if="${twitterProfile}!=null" class="list-group">
                <h1>The Twitter Profile of <span th:text="${twitterProfile.screenName}"></span></h1>
                    <div class="row">
                        <div class="col-xs-2">Description:</div>
                        <div class="col-xs-8" th:text="${twitterProfile.description}"></div>
                    </div>
                     <div class="row">
                         <div class="col-xs-2">Location:</div>
                         <div class="col-xs-8" th:text="${twitterProfile.location}"></div>
                     </div>
                     <div class="row">
                         <div class="col-xs-2">Number of followers:</div>
                         <div class="col-xs-8" th:text="${twitterProfile.followersCount}"></div>
                    </div>
            </ul>
            <script type="text/javascript" src="./webjars/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript"
                    src="./webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
