<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter Search</title>

        <link type="text/css" rel="stylesheet" href="./webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Twitter Client</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">Search</a></li>
                    <li togglz:active="TWITTER_TRENDS"><a th:href="@{/trend}">Trend</a></li>
                    <li togglz:active="TWITTER_PROFILE"><a th:href="@{/profile}">Profile</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Twitter Search</h1>

                <form class="form-inline" method="GET" action="/">
                    <div class="form-group">
                        <label class="">Please enter search query:</label>
                        <input id="query" class="form-control" name="searchQuery" type='text' placeholder=""/>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                <div class="form-group">
                    <label>Recent searches:</label>
                    <!--<input id="query" class="form-control" name="searchQuery" type='text' placeholder=""/>-->
                    <!--<button class="btn btn-primary" type="submit">Submit</button>-->
                    <div class="list-group">
                        <a th:each="recentSearch:${recentSearches}"
                           th:href="@{/(searchQuery=${recentSearch})}" class="list-group-item"
                           th:text="${recentSearch}"></a>
                    </div>
                </div>
            </div>

            <h1>These are your Twitter search results:</h1>

            <ul class="list-group">
                <li class="list-group-item" th:each="searchResult:${searchResults}">
                    <div class="row">
                        <div class="col-xs-1" th:text="${searchResult.fromUser}">
                        </div>
                        <div class="col-xs-2" th:text="${searchResult.createdAt}">
                        </div>
                        <div class="col-xs-1" th:text="${searchResult.retweetCount}">
                        </div>
                        <div class="col-xs-1" th:text="${searchResult.favoriteCount}">
                        </div>
                        <div class="col-xs-4" th:text="${searchResult.unmodifiedText}">
                        </div>
                    </div>
                </li>
            </ul>
            <script type="text/javascript" src="./webjars/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript"
                    src="./webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
