<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter Trend</title>

        <link type="text/css" rel="stylesheet" href="./webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Twitter Client</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Search</a></li>
                    <li togglz:active="TWITTER_TRENDS" class="active"><a th:href="@{/trend}">Trend</a></li>
                    <li togglz:active="TWITTER_PROFILE"><a th:href="@{/profile}">Profile</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                    <form th:action="@{/logout}" method="post">
                        <button class="navbar-brand btn-link" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1>Twitter Trend</h1>

                <form class="form-inline" method="GET" action="/trend">
                    <div class="form-group">
                        <label for="sel1">Please select a city:</label>
                        <select class="form-control" id="city" name="city">
                            <option value="frankfurt">Frankfurt</option>
                            <option value="hamburg">Hamburg</option>
                            <option value="berlin">Berlin</option>
                        </select>
                        <!--<input type="submit"/>-->
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <h1>These are your Twitter search results:</h1>

            <ul class="list-group">
                <li class="list-group-item" th:each="searchResult:${searchResults}">
                    <div class="row">
                        <div class="col-xs-3" th:text="${searchResult.name}">
                        </div>
                        <div class="col-xs-5" th:text="${searchResult.query}">
                        </div>
                    </div>
                </li>
            </ul>
            <script type="text/javascript" src="./webjars/jquery/3.1.0/jquery.min.js"></script>
            <script type="text/javascript"
                    src="./webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        </div>
    </body>
</html>
